/**color de elementos**/

#titulo {
    color: red;
}   

.post{
    color: blue;
}              
article h2{
    color: tomato;
}

/**bordes de elementos**/

header h1{
    border-style: outset;
    border-color: blue;
    border-radius: 10px;
    border-width: 10px;
    height: 50px;
    background-image: url(ImgStyle/oip.png);
    background-size: contain;
    text-align: center;
}


